  <launch>

  <node pkg="reflection_detection" type="reflection_detection" name="reflection_detection" output="screen">
	<!-- <remap from="/livox_cloud" to="/velodyne_cloud_2" /> -->
  </node>


  <arg name="rviz" default="true" />
	<group if="$(arg rviz)">
		<node pkg="rviz" type="rviz" name="rviz" args="-d $(find reflection_detection)/rviz_cfg/single.rviz" required = "true" />
	</group>


</launch>